<div class="uk-animation-slide-left-small" uk-grid>
  <div class="uk-width-1-1">
    <h2>配置 FFD 钱包 </h2>

    <div class="uk-card uk-card-default uk-margin">
      <div class="uk-card-header">
        <h3 class="uk-card-title">显示设置</h3>
      </div>
      <div class="uk-card-body">
        <div uk-grid>

          <div class="uk-width-1-1">
            <div class="uk-form-horizontal">

              <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-select">法定货币<span uk-icon="icon: info;" uk-tooltip title="更改在应用程序中显示法定值时使用的货币对。 选择无以隐藏法定货币对."></span></label>
                <div class="uk-form-controls">
                  <select class="uk-select" [(ngModel)]="selectedCurrency" id="form-horizontal-select">
                    <option *ngFor="let currency of currencies" [value]="currency.value">{{ currency.name }}</option>
                  </select>
                </div>
              </div>

            </div>
          </div>

          <div class="uk-width-1-1">
            <div class="uk-form-horizontal">

              <div class="uk-margin">
                <label class="uk-form-label">显示面额<span uk-icon="icon: info;" uk-tooltip title="显示纳米天平时更改整个应用程序中使用的默认面额"></span></label>
                <div class="uk-form-controls">

                  <div class="uk-inline uk-width-1-1">
                    <select class="uk-select" [(ngModel)]="selectedDenomination">
                      <option *ngFor="let denomination of denominations" [value]="denomination.value">{{ denomination.name }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--<div class="uk-width-1-1">-->
            <!--<div class="uk-form-horizontal">-->

              <!--<div class="uk-margin">-->
                <!--<label class="uk-form-label">Account Prefix <span uk-icon="icon: info;" uk-tooltip title="Change the ffd account prefix used throughout the application.  Both are valid when sending"></span></label>-->
                <!--<div class="uk-form-controls">-->

                  <!--<div class="uk-inline uk-width-1-1">-->
                    <!--<select class="uk-select" [(ngModel)]="selectedPrefix">-->
                      <!--<option *ngFor="let prefix of prefixOptions" [value]="prefix.value">{{ prefix.name }}</option>-->
                    <!--</select>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

        </div>
      </div>
      <div class="uk-card-footer uk-text-right">
        <button (click)="updateDisplaySettings()" class="uk-button uk-button-secondary">更新显示设置</button>
      </div>
    </div>


    <div class="uk-card uk-card-default uk-margin">
      <div class="uk-card-header">
        <h3 class="uk-card-title">钱包设置</h3>
      </div>
      <div class="uk-card-body">
        <div uk-grid>

          <div class="uk-width-1-1">
            <div class="uk-form-horizontal">

              <div class="uk-margin">
                <label class="uk-form-label">不活动后锁定 <span uk-icon="icon: info;" uk-tooltip title="更改您的钱包是否应在一段时间未与它交互后自动锁定"></span></label>
                <div class="uk-form-controls">

                  <div class="uk-inline uk-width-1-1">
                    <select class="uk-select" [(ngModel)]="selectedInactivityMinutes">
                      <option *ngFor="let option of inactivityOptions" [value]="option.value">{{ option.name }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1">
            <div class="uk-form-horizontal">

              <div class="uk-margin">
                <label class="uk-form-label">钱包存储 <span uk-icon="icon: info;" uk-tooltip title="更改钱包的存储位置。 如果您选择无，您的钱包会在每次重新加载时重置."></span></label>
                <div class="uk-form-controls">

                  <div class="uk-inline uk-width-1-1">
                    <select class="uk-select" [(ngModel)]="selectedStorage">
                      <option *ngFor="let storage of storageOptions" [value]="storage.value">{{ storage.name }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1">
            <div class="uk-form-horizontal">

              <div class="uk-margin">
                <label class="uk-form-label">PoW 来源 <span uk-icon="icon: info;" uk-tooltip title="更改区块工作量证明的生成方式."></span></label>
                <div class="uk-form-controls">

                  <div class="uk-inline uk-width-1-1">
                    <select class="uk-select" [(ngModel)]="selectedPoWOption">
                      <option *ngFor="let pow of powOptions" [value]="pow.value">{{ pow.name }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1">
            <div class="uk-form-horizontal">

              <div class="uk-margin">
                <label class="uk-form-label">最低收款金额 <span uk-icon="icon: info;" uk-tooltip title="低于此金额的交易将被钱包忽略。 设置为空白或 0 以接受所有交易."></span></label>
                <div class="uk-form-controls">
                  <div uk-grid>
                    <div class="uk-width-3-5">
                      <div class="uk-inline uk-width-1-1">
                        <input [(ngModel)]="minimumReceive" class="uk-input uk-margin-small-bottom" id="form-horizontal-text4" type="text" placeholder="0.000001">
                      </div>

                    </div>

                    <div class="uk-width-2-5">
                      <div class="uk-inline uk-width-1-1">
                        <button class="uk-button uk-button-primary uk-width-1-1" type="button" style="text-transform: none;">FFD</button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1">
            <div class="uk-form-horizontal">

              <div class="uk-margin">
                <label class="uk-form-label">默认代表<span uk-icon="icon: info;" uk-tooltip title="在新帐户上创建初始开放块时将使用此代表"></span></label>

                <div class="uk-form-controls">
                  <div class="uk-inline uk-width-1-1">
                    <input (blur)="validateRepresentative()" (keyup)="searchRepresentatives()" (focus)="searchRepresentatives()" [(ngModel)]="defaultRepresentative" class="uk-input" type="text" placeholder="Leave blank to use NanoVault" #repInput>

                    <div *ngIf="(representativeResults$ | async).length" [hidden]="!showRepresentatives" class="uk-animation-slide-down-small uk-width-1-1 uk-card uk-card-default uk-card-body uk-position-absolute" style="z-index: 15000">
                      <ul class="uk-nav uk-nav-default">
                        <li class="uk-nav-header">代表名单结果</li>
                        <li class="uk-nav-divider"></li>
                        <li *ngFor="let rep of representativeResults$ | async">
                          <a (click)="selectRepresentative(rep.id)">
                            {{ rep.name }}
                            <span *ngIf="rep.trusted" uk-icon="icon: star;" class="uk-text-success"></span>
                            <span *ngIf="rep.warn" uk-icon="icon: warning;" class="uk-text-warning"></span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="uk-form-controls" *ngIf="representativeListMatch">
                  <div class="uk-inline uk-width-1-1">
                    <span class="uk-label uk-label-danger">{{ representativeListMatch }}</span>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
      <div class="uk-card-footer uk-text-right">
        <button (click)="updateWalletSettings()" class="uk-button uk-button-secondary">更新钱包设置</button>
      </div>
    </div>


    <div class="uk-card uk-card-default uk-margin">
      <div class="uk-card-header" id="server-settings">
        <h3 class="uk-card-title">服务器设置</h3>
      </div>
      <div class="uk-card-body">
        <div uk-grid>

          <div class="uk-width-1-1">
            <div class="uk-form-horizontal">

              <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-select">服务器配置 <span uk-icon="icon: info;" uk-tooltip title="更改用于与 FFD 网络通信的服务器"></span></label>
                <div class="uk-form-controls">
                  <select class="uk-select" [(ngModel)]="selectedServer" (change)="serverConfigChange(selectedServer)" id="form-horizontal-select">
                    <option *ngFor="let server of serverOptions" [value]="server.value">{{ server.name }}</option>
                  </select>
                </div>
              </div>

            </div>
          </div>

          <div class="uk-width-1-1">
            <div class="uk-form-horizontal">
              <div class="">
                <label class="uk-form-label uk-text-right">API 服务器 <span uk-icon="icon: info;" uk-tooltip title="此服务器用于从 FFD 节点加载、缓存和增强结果"></span></label>
                <div class="uk-form-controls">

                  <div class="uk-inline uk-width-1-1" *ngIf="!showServerConfigs()">
                    <strong>{{ serverAPI || 'http://192.168.31.115:8088/api/node-api' }}</strong>
                  </div>
                  <div class="uk-inline uk-width-1-1" *ngIf="showServerConfigs()">
                    <input [(ngModel)]="serverAPI" class="uk-input uk-margin-small-bottom" type="text" placeholder="http://192.168.31.115:8088/api/node-api">
                    <span class="uk-text-meta">
                      此服务器必须运行 <a href="https://github.com/cronoh/nanovault-server" target="_blank">FFD 节点服务器</a> 应用程序或与其兼容的 API.<br>
                      应用程序中的时间戳取决于此服务器对它们的访问.
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1">
            <div class="uk-form-horizontal">
              <div class="">
                <label class="uk-form-label uk-text-right">覆盖 FFD 节点 <span uk-icon="icon: info;" uk-tooltip title="覆盖 API Server 使用哪个节点与 FFD 网络通信"></span></label>
                <div class="uk-form-controls">

                  <div class="uk-inline uk-width-1-1">
                    <div class="uk-inline uk-width-1-1" *ngIf="!showServerConfigs()">
                      <strong>{{ serverNode || 'N/A' }}</strong>
                    </div>

                    <div class="uk-inline uk-width-1-1" *ngIf="showServerConfigs()">
                      <input [(ngModel)]="serverNode" class="uk-input uk-margin-small-bottom" type="text" placeholder="http://125.32.211.54:7076">
                      <span class="uk-text-meta">
                        此服务器必须公开 <a href="https://developers.nano.org/docs/rpc/" target="_blank">FFD RPC</a> 到上面使用的 API 服务器.<br>
                        请求仍将发送到 API 服务器，但该节点将用于与网络通信.
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1">
            <div class="uk-form-horizontal">
              <div class="">
                <label class="uk-form-label uk-text-right">更新服务器 <span uk-icon="icon: info;" uk-tooltip title="该服务器用于在新交易到达时实时通知钱包"></span></label>
                <div class="uk-form-controls">
                  <div class="uk-inline uk-width-1-1" *ngIf="!showServerConfigs()">
                    <strong>{{ serverWS || 'wss://ws.ffd.one/ws' }}</strong>
                  </div>

                  <div class="uk-inline uk-width-1-1" *ngIf="showServerConfigs()">
                    <input [(ngModel)]="serverWS" class="uk-input uk-margin-small-bottom" id="form-horizontal-text2" type="text" placeholder="wss://ws.ffd.one/ws">
                    <span class="uk-text-meta">
                      此服务器必须运行 <a href="https://github.com/cronoh/nanovault-ws" target="_blank">FFD Websocket</a> 应用程序，或与其兼容的 WebSocket API.<br>
                      <i>注意：由于此服务器仅通知新交易，因此大多数钱包在没有它的情况下都可以正常运行.</i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="uk-card-footer uk-text-right">
        <button (click)="updateServerSettings()" class="uk-button uk-button-secondary">更新服务器设置 </button>
      </div>
    </div>


    <div class="uk-card uk-card-default uk-margin">
      <div class="uk-card-header">
        <h3 class="uk-card-title">高级选项 </h3>
      </div>
      <div class="uk-card-body uk-text-center">
        <div uk-grid>

          <div class="uk-width-1-3@m">
            <button class="uk-button uk-button-danger" (click)="clearWorkCache()" uk-tooltip title="这将删除所有本地缓存的工作量证明">清除工作缓存</button>
          </div>
          <div class="uk-width-1-3@m">
            <button class="uk-button uk-button-danger" (click)="clearWalletData()" uk-tooltip title="这将删除与您的钱包相关的所有数据（您的种子和帐户）">删除钱包数据</button>
          </div>
          <div class="uk-width-1-3@m">
            <button class="uk-button uk-button-danger" (click)="clearAllData()" uk-tooltip title="这将删除所有存储的数据，包括您的钱包、地址簿、设置等.">删除所有数据</button>
          </div>
        </div>
      </div>
      <!--<div class="uk-card-footer uk-text-right">-->
        <!--<button (click)="updateWalletSettings()" class="uk-button uk-button-secondary">Update Wallet Settings</button>-->
      <!--</div>-->
    </div>

  </div>
</div>
